<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>JUM.Pw(Jump DoublePeace) - URL Shortener Service</title>

    <!--<link rel="stylesheet" href="/stylesheets/petal.min.css" />-->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/stylesheets/custom.css" />

    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <!--<script src="/javascripts/jquery.fs.selecter.min.js"></script>-->
    <!--<script src="/javascripts/petal.min.js"></script>-->
    <script src="/javascripts/bootstrap.min.js"></script>
    <!--<script src="/socket.io/socket.io.js"></script>-->
</head>
<body>
